{% extends "admin/change_list.html" %}

{% block content_title %}

{% endblock %}

{% block result_list %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
<!--            <div class="col-lg-6 col-7">-->
<!--              <h6 class="h2 text-white d-inline-block mb-0">Default</h6>-->
<!--              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">-->
<!--                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">-->
<!--                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>-->
<!--                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>-->
<!--                  <li class="breadcrumb-item active" aria-current="page">Default</li>-->
<!--                </ol>-->
<!--              </nav>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-5 text-right">-->
<!--              <a href="#" class="btn btn-sm btn-neutral">New</a>-->
<!--              <a href="#" class="btn btn-sm btn-neutral">Filters</a>-->
<!--            </div>-->
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total shipment</h5>
                      <span class="h2 font-weight-bold mb-0">{{job.total}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-delivery-fast"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Pending shipment</h5>
                      <span class="h2 font-weight-bold mb-0">{{job.pending}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-delivery-fast"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">On Going Shipment</h5>
                      <span class="h2 font-weight-bold mb-0">{{job.shipping}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-delivery-fast"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Delivery Shipment</h5>
                      <span class="h2 font-weight-bold mb-0">{{job.done}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-delivery-fast"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">

        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Shipment statistic</h5>
                </div>
<!--                <div class="col">-->
<!--                  <ul class="nav nav-pills justify-content-end">-->
<!--                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">-->
<!--                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">-->
<!--                        <span class="d-none d-md-block">Month</span>-->
<!--                        <span class="d-md-none">M</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">-->
<!--                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">-->
<!--                        <span class="d-none d-md-block">Week</span>-->
<!--                        <span class="d-md-none">W</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h5 class="h3 mb-0">Total shipment cost (1trVNĐ)</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Recent Shipment</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="padding: 1rem 1.5rem" scope="col" class="sort" data-sort="name">Track number</th>
                  <th style="padding: 1rem 1.5rem" scope="col" class="sort" data-sort="budget">Category</th>
                  <th style="padding: 1rem 1.5rem" scope="col" class="sort" data-sort="status">Date</th>
                  <th style="padding: 1rem 1.5rem" scope="col">Shiping cost</th>
                  <th style="padding: 1rem 1.5rem" scope="col" class="sort" data-sort="completion">Status</th>
                  <th style="padding: 1rem 1.5rem" scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for x in shipment_data %}
                  <tr>
                    <td class="budget">
                      <u>ID {{x.uuid}}</u>
                    </td>
                    <td class="budget">
                      {{x.product.category.name}}
                    </td>
                    <td>
                      {{x.shipment.shipment_date}}
                    </td>
                    <td>
                      {{x.shipment.cost}}đ
                    </td>
                    <td>
                      {% if x.status == "1" %}
                          <div>
                            <span style="color:#9F70FD">Finding shipper</span>
                          </div>
                      {% elif x.status == "2" %}
                           <div>
                            <span style="color:#EBF400">Waiting shipper</span>
                          </div>
                      {% elif x.status == "3" %}
                           <div>
                            <span style="color:#40A2E3">Waiting pay</span>
                          </div>
                      {% elif x.status == "5" %}
                           <div>
                            <span style="color:#15F5BA">Arrived</span>
                          </div>
                      {% endif %}

                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{{ x.id }}/change/">View Detail</a>
                          <a class="dropdown-item" href="{{ x.id }}/delete/">Deleted</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">

                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>

                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% block javascripts %}
    <!--  <script src="/static/assets/js/argon.js"></script>-->
      <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
      <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
      <script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
      <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
      <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

      <script src="/static/assets/js/components/init/chart-init.js"></script>
      <script src="/static/assets/js/components/init/popover.js"></script>
      <script src="/static/assets/js/components/init/tooltip.js"></script>
      <script>
        var SalesChart = (function() {
          // Variables
          var $chart = $('#chart-sales-dark');
          var shipment = JSON.parse("{{shipment|escapejs}}")

          // Methods
          function init($chart) {
            var salesChart = new Chart($chart, {
              type: 'line',
              options: {
                scales: {
                  yAxes: [{
                    gridLines: {
                      lineWidth: 1,
                      color: Charts.colors.gray[900],
                      zeroLineColor: Charts.colors.gray[900]
                    },
                    ticks: {
                      callback: function(value) {
                        return value;
                      }
                    }
                  }]
                },

              },
              data: {
                labels: shipment.labels,
                datasets: [{
                  label: 'Shipment',
                  data: shipment.shipment_count_data
                }]
              }
            });
            // Save to jQuery object
            $chart.data('chart', salesChart);
          };
          // Events
          if ($chart.length) {
            init($chart);
          }
        })();
      </script>
      <script>
        var BarsChart = (function() {
            //
            // Variables
            //
            var shipment = JSON.parse("{{shipment|escapejs}}")
            var $chart = $('#chart-bars');
            //
            // Methods
            //
            // Init chart
            function initChart($chart) {
                // Create chart
                var ordersChart = new Chart($chart, {
                    type: 'bar',
                    data: {
                        labels: shipment.labels,
                        datasets: [{
                            label: 'Sales',
                            data: shipment.cost_data
                        }]
                    }
                });
                // Save to jQuery object
                $chart.data('chart', ordersChart);
            }
            // Init chart
            if ($chart.length) {
                initChart($chart);
            }
        })();
      </script>
    {% endblock javascripts %}

{% endblock %}
