<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Email</title>
</head>
<body>
<!--wrapper grey-->
<table align="center" bgcolor="#EAECED" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>

    <!--spacing-->
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <!--First  table section with logo-->
    <tr>
        <td align="center" valign="top">
            <!--Separate table for header and content-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody>
                <tr>
                    <td align="center">
                        <table width="85%">
                            <tbody>
                            <!--Content header Intro header-->
                            <tr>
                                <td align="left">
                                    <h2 style="font-family:Arial;font-style:normal;font-weight:bold;line-height:30px;font-size:24px;color:#333333;">
                                        Xin chào</h2>
                                </td>
                            </tr>

                            <!--para 1-->
                            <tr>
                                <td align="left"
                                    style="font-family:Arial;font-style:normal;font-weight:normal;line-height:22px;font-size:14px;color:#333333;">
                                    Chúng tôi xin cảm ơn bạn đã tham gia và gửi đề xuất của mình cho việc vận chuyển đơn hàng #{{uuid}}.
                                    Sau quá trình xem xét kỹ lưỡng, người chủ của đơn hàng có vẻ đã chọn một shipper khác cho đơn hàng này. Cảm ơn bạn đã hiểu và thể hiện sự chuyên nghiệp trong quá trình đấu thầu.
                                    Chúng tôi hy vọng bạn sẽ tiếp tục tham gia vào các cơ hội khác trong tương lai và chúng tôi mong rằng có cơ hội hợp tác với bạn.
                                </td>
                            </tr>
                            <!--spacing-->
                            <tr>
                                <td>&nbsp;</td>
                            </tr>

                            <!--para 2-->
                            <tr>
                                <td align="left"
                                    style="font-family:Arial;font-style:normal;font-weight:normal;line-height:22px;font-size:14px;color:#333333;">
                                    Trân trọng,
                                </td>
                            </tr>
                            <!--spacing-->
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>

                        </table>


                    </td>

                </tr>


                </tbody>
            </table>

        </td> <!--first table section td ending-->


        <!--outer spacing-->
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table> <!-- - main tabel grey bg-->
</body>
</html>