<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Email</title>
</head>
<body>
<!--wrapper grey-->
<table align="center" bgcolor="#EAECED" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>

    <!--spacing-->
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <!--First  table section with logo-->
    <tr>
        <td align="center" valign="top">
            <!--Separate table for header and content-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody>
                <tr>
                    <td align="center">
                        <table width="85%">
                            <tbody>
                            <!--Content header Intro header-->
                            <tr>
                                <td align="left">
                                    <h2 style="font-family:Arial;font-style:normal;font-weight:bold;line-height:30px;font-size:24px;color:#333333;">
                                        Xin chào {{first_name}}</h2>
                                </td>
                            </tr>

                            <!--para 1-->
                            <tr>
                                <td align="left"
                                    style="font-family:Arial;font-style:normal;font-weight:normal;line-height:22px;font-size:14px;color:#333333;">
                                    Chúc mừng! Chúng tôi xin thông báo rằng bạn đã được chọn để vận chuyển đơn hàng quan trọng của khách hàng chúng tôi. Sự chuyên nghiệp và kỹ năng của bạn đã gây ấn tượng mạnh mẽ đối với chúng tôi.
                                    Mong rằng bạn sẽ tiếp tục mang lại dịch vụ tốt nhất và tạo ra một trải nghiệm tích cực cho khách hàng của chúng tôi.
                                    Chúng tôi rất trân trọng sự hợp tác của bạn và chúng tôi tin tưởng rằng bạn sẽ làm việc xuất sắc trong việc giao hàng cho chúng tôi.
                                </td>
                            </tr>
                            <!--spacing-->
                            <tr>
                                <td>&nbsp;</td>
                            </tr>

                            <!--para 2-->
                            <tr>
                                <td align="left"
                                    style="font-family:Arial;font-style:normal;font-weight:normal;line-height:22px;font-size:14px;color:#333333;">
                                    Trân trọng,
                                </td>
                            </tr>
                            <!--spacing-->
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>

                        </table>


                    </td>

                </tr>


                </tbody>
            </table>

        </td> <!--first table section td ending-->


        <!--outer spacing-->
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table> <!-- - main tabel grey bg-->
</body>
</html>