<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <p style="text-align:center">
            <a href="" style="font-size:2.4em;color: #00466a;text-decoration:none;font-weight:600">Mật khẩu của bạn đã được thay đổi</a>
        </p>
      </div>
      <p style="font-size:1.1em">Chào {{username}}</p>
      <p>Bạn vừa thực hiện hành động lấy lại mật khẩu. Hãy sử dụng mật khẩu dưới đây để thực hiện đăng nhập vào lần tới và hãy đổi lại nếu có thể. Vì lý do bảo mật
        đừng chia sẻ mật khẩu này cho bất kì ai.</p>
      <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{password}}</h2>
      <p style="font-size:0.9em;">Trân trọng,<br />Qwicker</p>
      <hr style="border:none;border-top:1px solid #eee" />
    </div>
  </div>
  </body>
</html>
